body {
  margin: 0;
}

.navbar {
  width: 90%;
  height: 70px;
  background-color: white;
  /* border: solid 1px #f5cac3; */
  margin: 0 5%;
  position: fixed;
  z-index: 1;
}

nav {
  display: flex;
}
nav p {
  font-size: 20px;
  text-decoration: none;
}

.linkPages {
  text-decoration: none;
}

.list {
  margin-top: 1%;
  height: 100%;
  display: flex;

  width: 20%;

  justify-content: space-around;
  align-items: center;
}

button {
  text-decoration: none;
  background-color: transparent;
  border: none;
}
.bonne-recette {
  font-weight: 600;
  font-size: 30px;
  color: #73253c;
  width: max-content;
  margin-top: 10px;
}
.items .linkPages {
  color: #f28482;
}

.tems {
  transform: scale(1);
  transition: transform ease-in-out 0.5s;
}

.items:hover {
  transform: scale(1.1);

  /* transition-duration: 500ms; */
  transition: transform ease-in-out 500ms;
}

.items:hover .linkPages {
  color: #73253c;
}

.items.active .linkPages {
  color: #73253c;
  transition: transform ease-in-out 1s;
}

.items:focus {
  outline: none;
}

.navBar .log-out {
  margin-left: 1rem;
  outline: none;
  cursor: pointer;
}

.hello-name {
  display: inline;
}

.title-site {
  size: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  nav {
    position: fixed;
    bottom: 0;
  }
  .hello-name {
    display: none;
  }

  .linkPages {
    font-size: 14px;
  }
}
