.home-page {
  background-image: linear-gradient(
      rgba(236, 224, 203, 0.815),
      rgba(238, 224, 202, 0.767)
    ),
    url("https://cdn.pixabay.com/photo/2021/01/01/21/56/cooking-5880136_960_720.jpg");
  background-size: cover;
  padding-bottom: 10%;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}

.blocks-recettes {
  display: flex;
  place-content: space-around;
  flex-flow: wrap;
  width: 90%;
  margin: 5%;
}

.block-recette-solo {
  background-color: white;
  width: 40%;
  margin-bottom: 5%;
}

.image-recette {
  width: 97%;
  margin-top: 2%;
  height: 500px;
  transition: all 0.28s ease-out;
}

.image-recette:hover {
  width: 98%;
  max-height: 608px;
  margin-top: 0.7%;

  transition: all 0.28s ease-in;
}

.filtrerecette {
  background-color: white;
  width: 90%;
  margin-bottom: 2%;
  height: 70px;
  display: flex;

  place-content: space-around;
}
.filter-bar {
  width: 80%;
  margin-left: 5%;
  border-radius: 20px;
  height: 40px;
  margin-top: 2%;
  border: solid 0.5px #73253c;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  width: 50%;
}

.search-loupe {
  width: 30%;
  display: flex;
}

.filter {
  height: 40px;
  width: 30%;
  margin-top: 10px;
  border: solid 2px #615c5761;
  border-radius: 30px;
}

.section-recette {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.subtitle-home {
  color: #f28482;
  font-size: 30px;
}
.block-recette-solo h4 {
  color: #84a59d;
}

.loupe {
  margin-top: 10px;
}
