.home-page {
  background-color: #f7ede2;
  min-height: 200vh;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}

.blocks-recettes {
  display: flex;
  place-content: space-around;
}

.block-recette-solo {
  background-color: white;
  width: 40%;
}

.block-recette-solo img {
  width: 97%;
  margin-top: 2%;
}

.filtrerecette {
  background-color: white;
  width: 90%;
  margin-bottom: 2%;
  height: 70px;
}

.filter {
  height: 40px;
  width: 50%;
  margin-top: 10px;
}

.section-recette {
  display: flex;
  flex-direction: column;
  place-items: center;
}
